<?xml version='1.0' encoding='UTF-8' ?>
<!--
    Document   : catalogo
    Created on : 14-jun-2011, 20:26:26
    Author     : Juan Sebastián Urrego
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/main-template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:param name="titulo" value="Catálogo de muebles" />
    <ui:define name="body">
        <h:form>

            <!-- Panel para agregar un nuevo mueble -->
            <ice:panelGroup>
                <ice:panelGrid width="100px" columns="1" columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">
                    <ice:outputLabel for="TxtReferencia"
                                     value="Referencia"/>
                    <ice:inputText id="TxtReferencia"
                                   size="20"
                                   maxlength="20"

                                   value="#{catalogoBean.mueble.referencia}"
                                   partialSubmit="true"
                                   required="true"
                                   >
                        <f:validateLength minimum="1"/>
                    </ice:inputText>
                    <ice:message id="nameMsg" for="TxtReferencia" />
                </ice:panelGrid>

                <ice:panelGrid width="100px" columns="1" columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">
                    <ice:outputLabel for="TxtNombre"
                                     value="Nombre" />
                    <ice:inputText id="TxtNombre"
                                   maxlength="20"
                                   size="20"
                                   value="#{catalogoBean.mueble.nombre}"
                                   partialSubmit="true"
                                   required="true">
                        <f:validateLength minimum="1"/>
                    </ice:inputText>
                    <ice:message id="pwMsg" for="TxtNombre" />
                </ice:panelGrid>

                <ice:panelGrid columns="1" width="100px"
                               columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">

                    <ice:outputLabel for="TxtDescripcion" value="Descripción" />
                    <ice:inputTextarea id="TxtDescripcion"
                                       value="#{catalogoBean.mueble.descripcion}"
                                       rows="4" style="width: 125px"
                                       partialSubmit="true"
                                       maxlength="150"

                                       >
                        <f:validateLength minimum="1"/>

                    </ice:inputTextarea>
                    <ice:message id="descMsg" for="TxtDescripcion" />

                </ice:panelGrid>
                <ice:panelGrid>
                    <ice:selectOneMenu value="#{catalogoBean.mueble.tipo}">
                        <f:selectItems value="#{catalogoBean.tiposMuebles}" />
                    </ice:selectOneMenu>
                </ice:panelGrid>

                <ice:commandButton value="Agregar" action="#{catalogoBean.agregarMueble}" />
                <ice:commandButton value="Nuevo" action="#{catalogoBean.limpiar}" />
            </ice:panelGroup>

        </h:form>
        <h:form>
            <ice:panelGroup>

                <!-- Se crea una tabla donde se presentan los muebles del sistema -->
                <ice:dataTable
                    id="data"
                    value="#{catalogoBean.muebles}"
                    var="file"
                    scrollable="false"
                    columnWidths="100px,100px,100px,100px"
                    scrollHeight="100px"
                    cellpadding="0"
                    resizable="true"
                    rows="5">

                    <ice:column>
                        <ice:rowSelector id="selected"
                                         value="#{file.seleccion}"
                                         multiple="true"
                                         enhancedMultiple="true"/>

                        <f:facet name="header">
                            Referencia
                        </f:facet>
                        <ice:outputText value="#{file.referencia}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Nombre
                        </f:facet>
                        <ice:outputText value="#{file.nombre}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Descripción
                        </f:facet>
                        <ice:outputText value="#{file.descripcion}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Tipo
                        </f:facet>
                        <ice:outputText value="#{file.tipo}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Eliminar
                        </f:facet>
                        <ice:commandButton value="Eliminar" action="#{catalogoBean.eliminarMueble(file)}" />

                    </ice:column>
                     <ice:column>
                        <f:facet name="header">
                            Editar
                        </f:facet>
                        <ice:commandButton value="Editar" action="#{catalogoBean.editarMueble(file)}" />

                    </ice:column>
                    

                </ice:dataTable>

                <ice:panelGroup>

                    <!-- Se crea y establecen propiedades del paginador -->
                    <ice:dataPaginator id="dataScroll_1"

                                       for="data"
                                       vertical="false"
                                       fastStep="3"
                                       paginator="true"
                                       paginatorMaxPages="4">
                        <f:facet name="first">
                            <ice:graphicImage id="firstpage_1"
                                              url="./resources/img/graphics/arrow-first.gif"
                                              style="border:none;"
                                              title="Ir a la primera página"/>
                        </f:facet>
                        <f:facet name="last">
                            <ice:graphicImage id="lastpage_1"
                                              url="./resources/img/graphics/arrow-last.gif"
                                              style="border:none;"
                                              title="Ir a la última página"/>
                        </f:facet>
                        <f:facet name="previous">
                            <ice:graphicImage id="previouspage_1"
                                              url="./resources/img/graphics/arrow-previous.gif"
                                              style="border:none;"
                                              title="Atrás"/>
                        </f:facet>
                        <f:facet name="next">
                            <ice:graphicImage id="nextpage_1"
                                              url="./resources/img/graphics/arrow-next.gif"
                                              style="border:none;"
                                              title="Siguiente"/>
                        </f:facet>
                        <f:facet name="fastforward">
                            <ice:graphicImage id="fastforward_1"
                                              url="./resources/img/graphics/arrow-ff.gif"
                                              style="border:none;"/>
                        </f:facet>
                        <f:facet name="fastrewind">
                            <ice:graphicImage id="fastrewind_1"
                                              url="./resources/img/graphics/arrow-fr.gif"
                                              style="border:none;"/>
                        </f:facet>
                    </ice:dataPaginator>
                </ice:panelGroup>
            </ice:panelGroup>
        </h:form>
    </ui:define>


</ui:composition>