<?xml version='1.0' encoding='UTF-8' ?>
<!--
    Document   : catalogo
    Created on : 14-jun-2011, 20:26:26
    Author     : Juan Sebastián Urrego
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/main-template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:param name="titulo" value="Catálogo de Clientes" />
    <ui:define name="body">
         <h:form>

            <ice:panelGroup>
                <ice:panelGrid width="100px" columns="1" columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">
                    <ice:outputLabel for="TxtReferencia"
                                     value="Nombres"/>
                    <ice:inputText id="TxtNombres"
                                   size="20"
                                   maxlength="20"

                                   value="#{clienteBean.cliente.nombres}"
                                   partialSubmit="true"
                                   required="true"
                                   >
                        <f:validateLength minimum="1"/>
                    </ice:inputText>
                    <ice:message id="nameMsg" for="TxtReferencia" />
                </ice:panelGrid>
<ice:panelGrid width="100px" columns="1" columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">
                    <ice:outputLabel for="TxtNombre"
                                     value="Apellidos" />
                    <ice:inputText id="TxtApellidos"
                                   maxlength="20"
                                   size="20"
                                   value="#{clienteBean.cliente.apellidos}"
                                   partialSubmit="true"
                                   required="true">
                        <f:validateLength minimum="1"/>
                    </ice:inputText>
                    <ice:message id="pwMsg" for="TxtNombre" />
                </ice:panelGrid>
                      <ice:panelGrid columns="1" width="100px"
                               columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">

                    <ice:outputLabel for="TxtDocumento" value="Documento" />
                    <ice:inputText id="TxtDocumento"
                                      maxlength="20"
                                   size="20"
                                   value="#{clienteBean.cliente.documento}"
                                   partialSubmit="true"
                                   required="true">
                        <f:validateLength minimum="1"/>

                    </ice:inputText>
                    <ice:message id="descMsg" for="TxtDocumento" />

                </ice:panelGrid>
                 <ice:panelGrid columns="1" width="100px"
                               columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">

                    <ice:outputLabel for="TxtTelefono" value="Telefono" />
                    <ice:inputText id="TxtTelefono"
                                      maxlength="20"
                                   size="20"
                                   value="#{clienteBean.cliente.telefono}"
                                   partialSubmit="true"
                                   required="true">
                        <f:validateLength minimum="1"/>

                    </ice:inputText>
                    <ice:message id="telMsg" for="TxtTelefono" />

                </ice:panelGrid>
                 
                <ice:panelGrid width="100px" columns="1" columnClasses="pnlGrdClass, pnlGrdClass, pnlGrdClassLong">
                    <ice:outputLabel for="TxtDireccion"
                                     value="Direccion"/>
                    <ice:inputText id="TxtDireccion"
                                   size="20"
                                   maxlength="20"

                                   value="#{clienteBean.cliente.direccion}"
                                   partialSubmit="true"
                                   required="true"
                                   >
                        <f:validateLength minimum="1"/>
                    </ice:inputText>
                    <ice:message id="dirMsg" for="TxtDireccion" />
                </ice:panelGrid>
               

                <ice:commandButton value="Agregar" action="#{clienteBean.agregarCliente}" />
                <ice:commandButton value="Nuevo" action="#{clienteBean.limpiar}" />
               
                 </ice:panelGroup>

        </h:form>
       <h:form>
            <ice:panelGroup>

                <!-- Se crea una tabla donde se presentan los clientes del sistema -->
                <ice:dataTable
                    id="data"
                    value="#{clienteBean.clientes}"
                    var="file"
                    scrollable="false"
                    columnWidths="100px,100px,100px,100px"
                    scrollHeight="100px"
                    cellpadding="0"
                    resizable="true"
                    rows="5">

                    <ice:column>
                        <ice:rowSelector id="selected"
                                         value="#{file.seleccion}"
                                         multiple="true"
                                         enhancedMultiple="true"/>

                        <f:facet name="header">
                           Documento
                        </f:facet>
                        <ice:outputText value="#{file.documento}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Nombre y Apellidos
                        </f:facet>
                        <ice:outputText value="#{file.nombres} #{file.apellidos}" />
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Telefono
                        </f:facet>
                        <ice:outputText value="#{file.telefono}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Direccion
                        </f:facet>
                        <ice:outputText value="#{file.direccion}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            Eliminar
                        </f:facet>
                        <ice:commandButton value="Eliminar" action="#{clienteBean.eliminarCliente(file)}" />

                    </ice:column>
                     <ice:column>
                        <f:facet name="header">
                            Editar
                        </f:facet>
                        <ice:commandButton value="Editar" action="#{clienteBean.editarCliente(file)}" />

                    </ice:column>
                    

                </ice:dataTable>

                <ice:panelGroup>

                    <!-- Se crea y establecen propiedades del paginador -->
                    <ice:dataPaginator id="dataScroll_1"

                                       for="data"
                                       vertical="false"
                                       fastStep="3"
                                       paginator="true"
                                       paginatorMaxPages="4">
                        <f:facet name="first">
                            <ice:graphicImage id="firstpage_1"
                                              url="./resources/img/graphics/arrow-first.gif"
                                              style="border:none;"
                                              title="Ir a la primera página"/>
                        </f:facet>
                        <f:facet name="last">
                            <ice:graphicImage id="lastpage_1"
                                              url="./resources/img/graphics/arrow-last.gif"
                                              style="border:none;"
                                              title="Ir a la última página"/>
                        </f:facet>
                        <f:facet name="previous">
                            <ice:graphicImage id="previouspage_1"
                                              url="./resources/img/graphics/arrow-previous.gif"
                                              style="border:none;"
                                              title="Atrás"/>
                        </f:facet>
                        <f:facet name="next">
                            <ice:graphicImage id="nextpage_1"
                                              url="./resources/img/graphics/arrow-next.gif"
                                              style="border:none;"
                                              title="Siguiente"/>
                        </f:facet>
                        <f:facet name="fastforward">
                            <ice:graphicImage id="fastforward_1"
                                              url="./resources/img/graphics/arrow-ff.gif"
                                              style="border:none;"/>
                        </f:facet>
                        <f:facet name="fastrewind">
                            <ice:graphicImage id="fastrewind_1"
                                              url="./resources/img/graphics/arrow-fr.gif"
                                              style="border:none;"/>
                        </f:facet>
                    </ice:dataPaginator>
                </ice:panelGroup>
            </ice:panelGroup>
        </h:form>

            <!-- Panel para agregar un nuevo cliente  -->
           
    </ui:define>


</ui:composition>